h1{
    text-transform:uppercase;
    letter-spacing: 1px;
}
label{
    font-size: small;
    font-weight:bold;
}
input{
    border:solid black 2px;
    border-radius:5px;
}
form{
    position:absolute;
    left:35%;
}
.buttons{
    margin-top:10px;
    margin:10px;
    
}
.create_button{
    margin-left:20px;
    border:solid black 1px;
    background-color: #0A7135;
}
.home_button{
  background-color: rgb(201, 209, 209);
  border:solid black 1px;
}
.home_button:hover{
  background-color: rgb(199, 235, 152);
  border:solid black 1px;
}
.create_button:hover{
    background-color: rgb(34, 196, 107);
    border:solid black 1px;
  }